<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
      Thay 'Data Source' thành tên SQL Server instance của bạn.
      Ví dụ: .\SQLEXPRESS | .\MSSQLSERVER | localhost | PCNAME\SQLEXPRESS
    -->
    <add name="QuanLyCuaHangLaptop" 
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyCuaHangLaptop;Integrated Security=True;TrustServerCertificate=True" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
